<div class="m-3">
    <input class="m-1" type="text" id="name" placeholder="Server Name">
    <input class="m-1" type="text" id="description" placeholder="Server Description">
    <br>
    <button class="btn btn-success m-1">Add Server</button>
    <button class="btn btn-primary m-1">Add Blueprint</button>
</div>
<div class="m-3 list-group" *ngFor="let server of servers">
    <a  href="#" 
        class=" list-group-item 
                flex-column align-items-start" 
                [ngClass]="{
                    'list-group-item-primary': server.isBlueprint,
                    'list-group-item-success': !server.isBlueprint,
                }"
    >
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                {{ server.name }}
            </h5>
        </div>
        <p class="mb-1">
            {{ server.description }}
        </p>
    </a>
</div>

<!-- list-group-item-warning -->
<!--  list-group-item-secondary -->