
<hr>
    <h2>Assignment - 2 way binding</h2>
    <input  type="text"
            [(ngModel)]="username">
    <br/>
        <p> {{ username }} </p>
    <br/>
        <button type="button" class="btn btn-success" 
                (click)="onClickResetUser()"
                [disabled]="username === ''"
                >Reset User</button>
<hr>
<p> {{ serverName }} </p>
<input  type="text"
        class="form-control"
        [(ngModel)]="serverName">
<br/>
    <p> {{ createServer }} </p>
<br/>
<p>Button {{ allowNewServer }}</p>
<button type="button" class="btn btn-success" 
        [disabled]="!allowNewServer"
        (click)="onCreateServer()"
>Add New Server</button>
<p>servers works!</p>
<app-server></app-server>