<br/>
<input  type="text"
        [(ngModel)]="serverName"> <br/><br/>
<button type="button" class="btn btn-success" 
        [disabled]="!allowNewServer"
        (click)="onCreateServer()"
>Add New Server</button>
<br/>
<br/>

<div *ngIf="isServerCreated; else noServer">
        <p>Server <b> {{ serverName }} </b> is created.</p>
</div>
<!-- *ngFor ??? -->
        <app-server *ngFor="let server of servers">
        </app-server>
<!--  -->
<ng-template #noServer>
        <p>No server was created!</p>
<ng-template>